* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  background-image: url("../images/bgV.jpg");
  background-size: cover;
}

body {
  min-width: 320px;
  overflow-x: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex: 1;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.top-text {
  text-align: center;
}

.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

#translate {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.05);
  padding: 0.25rem;
}

.subtitle {
  text-align: left;
  margin-top: 0.5rem;
}

.line {
  margin: 0.5rem 0;
  border-style: solid;
}

.form-group {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

.form-item {
  display: flex;
  align-items: center;
}

.label-h,
.label-w {
  font-weight: 600;
  flex: 1;
}

.input {
  width: 100%;
  padding: 0 0.5rem;
  flex: 2;
}

.form-btn {
  margin-top: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

#result {
  margin: 0.75rem 0;
  white-space: pre-line;
  text-align: justify;
}

.user-bmi {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

#back-btn {
  padding: 0.25rem;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.footer {
  margin-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
}

.annotation {
  font-weight: 600;
}

/* ≥ 425px — крупные телефоны */
@media (min-width: 425px) {
  * {
    font-size: 1.25rem;
  }

  .main {
    padding: 1rem 1rem 0 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-top: 1rem;
  }

  .line {
    margin: 1rem 0;
  }

  .form-group {
    gap: 1rem 0;
  }

  .input {
    padding: 0.75rem;
  }

  .form-btn {
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .user-bmi {
    font-size: 1.25rem;
  }

  #result {
    margin: 1.25rem 0;
  }

  .footer {
    margin-top: 1rem;
    padding: 1rem;
  }
}

/* ≥ 768px — планшеты (iPad Mini, вертикальный планшет) */
@media (min-width: 768px) {
  * {
    font-size: 1.5rem;
  }

  body {
    background-image: url("../images/bgH.jpg");
  }

  .main {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    margin-top: 1.5rem;
  }

  #translate {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
  }

  .line {
    margin: 1.5rem 0;
  }

  .form-group {
    border: none;
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 1rem 0;
  }

  .form-btn {
    margin-top: 1.5rem;
    padding: 0.75rem;
  }

  .user-bmi {
    font-size: 1.75rem;
  }

  #result {
    margin: 1.75rem 0;
  }

  .footer {
    margin-top: 1.5rem;
    padding: 1.5rem;
  }
}